<app-page-header [pageHeader]="'Secondary DataSource'"></app-page-header>

<div class="container">
  <app-data-source-properties [datasourceProperties$]="secondaryDatasourceProperties$"></app-data-source-properties>

  <app-flyway-datatable [migrations$]="secondaryFlyway$"></app-flyway-datatable>

  <app-new-entity [errors]="errors" (newEntityEvent)="submitNewSecondary($event)"></app-new-entity>

  <app-datatable [data]="data$ | async"
   (getDataEvent)="getSecondary($event)">
  </app-datatable>
</div>
