@use 'sass:map';
@use '@angular/material' as mat;

@mixin footer-theme($demo-app-theme) {
  $primary: map.get($demo-app-theme, primary);
  $primary-color: mat.get-color-from-palette($primary);
  $text-color: mat.get-color-from-palette($primary, darker-contrast);

  .demo-footer {
    background: $primary-color;
    color: $text-color;
  }
}
