@use 'sass:map';
@use '~@angular/material' as mat;

@mixin header-theme($demo-app-theme) {
  $primary: map.get($demo-app-theme, primary);
  $primary-color: mat.get-color-from-palette($primary);
  $text-color: mat.get-color-from-palette($primary, darker-contrast);
  $border-bottom-color: mat.get-color-from-palette($primary, 700);

  .demo-header {
    background: $primary-color;
    color: $text-color;
    border-bottom: 1px solid $border-bottom-color;
  }
}
