@use 'sass:map';
@use '~@angular/material' as mat;

@mixin page-header-theme($demo-app-theme) {
  $primary: map.get($demo-app-theme, primary);
  $primary-color: mat.get-color-from-palette($primary);
  $text-color: mat.get-color-from-palette($primary, darker-contrast);

  .page-header {
    background: $primary-color;
    color: $text-color;
  }
}
