<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ulteraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE" th:text="#{main.title}">Spring Boot Two DataSources Demo</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/foundation-sites/dist/css/foundation.min.css}" />
	<script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/webjars/foundation-sites/dist/js/foundation.min.js}"></script>
</head>
<body>
	<!--/* top bar */-->
	<div th:replace="~{fragments/top-bar :: top-bar}"></div>
	<!--/* main content */-->
	<div class="row">
		<div class="large-12 columns" layout:fragment="content"></div>
	</div>
	<hr/>
	<!--/* footer */-->
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script>
		$(document).foundation();
	</script>
</body>
</html>