@use '~@angular/material' as mat;

@use 'sass:map';
@use 'styles/footer';
@use 'styles/header';
@use 'styles/page-header';
@use 'styles/table';

@include mat.core();

$demo-app-primary: mat.define-palette(mat.$green-palette);
$demo-app-accent: mat.define-palette(mat.$amber-palette);

$demo-app-theme: mat.define-light-theme((
  color: (
    primary: $demo-app-primary,
    accent: $demo-app-accent,
  )
));

@include mat.all-component-themes($demo-app-theme);

// Variables for mixins
$background: map.get($demo-app-theme, background);
$foreground: map.get($demo-app-theme, foreground);

.demo-app-background {
  background: mat.get-color-from-palette($background, background);
}

.section-header {
  color: mat.get-color-from-palette($foreground, text);
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  font-weight: 500;
  line-height: 1.2;
}

// Include the theme mixins from the theme styles
@include footer.footer-theme($demo-app-theme);
@include header.header-theme($demo-app-theme);
@include page-header.page-header-theme($demo-app-theme);
@include table.table-theme($demo-app-theme);
