spring:
  # Internalization
  messages.basename: i18n/messages
  # MVC
  mvc:
    formcontent:
      filter:
        enabled: false
    hiddenmethod:
      filter:
        enabled: false
  # JPA
  jpa:
    open-in-view: false
  # Resources
  resources:
    cache:
      cachecontrol:
        max-age: 31536000s
  # Flyway
  flyway:
    enabled: false # to keep boot from migrating

# Management
management:
  endpoints:
    web:
      base-path: /api
      exposure:
        include: env

# Server
server:
  compression:
    enabled: true

# Primary datasource properties
primary:
  datasource:
    url: jdbc:h2:mem:primary
    username: sa
    password:
  flyway:
    location: classpath:db/migration/primary
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        show_sql: true
        format_sql: true
        generate_statistics: true
        id.new_generator_mappings: true
        order_updates: true
        default_batch_fetch_size: 4
        max_fetch_depth: 2
        hbm2ddl.auto:

# Secondary datasource properties
secondary:
  datasource:
    url: jdbc:h2:mem:secondary
    username: sa
    password:
  flyway:
    location: classpath:db/migration/secondary
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        show_sql: false
        format_sql: false
        generate_statistics: false
        id.new_generator_mappings: true
        order_updates: true
        default_batch_fetch_size: 4
        max_fetch_depth: 2
        hbm2ddl.auto:
