spring:
  # Data REST base URI
  data.rest.base-path: /api
  # Internalization
  messages.basename: i18n/messages
  # Thymeleaf
  thymeleaf.mode: HTML
  # Resource handling
  resources.cache.period: 31556926s
  # Flyway
  flyway:
    enabled: false # to keep boot from migrating

# Management
management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: env

# Primary datasource properties
primary:
  datasource:
    url: jdbc:h2:mem:primary
    username: sa
    password:
  flyway:
    location: classpath:db/migration/primary
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        show_sql: true
        format_sql: true
        generate_statistics: true
        id.new_generator_mappings: true
        order_updates: true
        default_batch_fetch_size: 4
        max_fetch_depth: 2
        hbm2ddl.auto:

# Secondary datasource properties
secondary:
  datasource:
    url: jdbc:h2:mem:secondary
    username: sa
    password:
  flyway:
    location: classpath:db/migration/secondary
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        show_sql: false
        format_sql: false
        generate_statistics: false
        id.new_generator_mappings: true
        order_updates: true
        default_batch_fetch_size: 4
        max_fetch_depth: 2
        hbm2ddl.auto:
