<app-page-header [pageHeader]="'Spring Boot with two DataSources Demonstration Project'"></app-page-header>

<div class="container">
  <ng-container *ngIf="(springBootVersion$ | async) as springBootVersion">
    <p id="project-details">
      This project demonstrates how to use two DataSources with Spring Boot <span id="spring-boot-version">{{springBootVersion}}</span>
    </p>
  </ng-container>

  <p>It utilizes:</p>

  <mat-list id="project-features-list">
    <mat-list-item>Spring Data JPA</mat-list-item>
    <mat-list-item>Flyway migrations for the two DataSources</mat-list-item>
    <mat-list-item>Separate Hibernate properties for each DataSource</mat-list-item>
    <mat-list-item>Tests for components</mat-list-item>
  </mat-list>
</div>
