<app-page-header [pageHeader]="'Primary DataSource'"></app-page-header>

<div class="container">
  <app-data-source-properties [datasourceProperties$]="primaryDatasourceProperties$"></app-data-source-properties>

  <app-flyway-datatable [migrations]="primaryFlyway$ | async"></app-flyway-datatable>

  <app-new-entity [errors]="errors" (newEntityEvent)="submitNewPrimary($event)"></app-new-entity>

  <app-datatable [data]="data$ | async"
    (getDataEvent)="getPrimary($event)">
  </app-datatable>
</div>
