<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/main}">
<head>
</head>
<body>
<div layout:fragment="content">
	<h3 th:text="#{home}"></h3>
	<p><span th:text="#{home.demo}">This project demonstrates how to use two DataSources with Spring Boot </span><span th:text="${sbVersion}"></span>.</p>
	<p th:text="#{home.utilizes}">It utilizes:</p>
	<ul>
		<li>Spring Data JPA/REST</li>
		<li>Flyway migrations for the two DataSources</li>
		<li>Separate Hibernate properties for each DataSource</li>
		<li>Thymeleaf 3</li>
		<li>Unit tests for components</li>
	</ul>
	<a href="https://github.com/drumonii/SpringBootTwoDataSources" th:text="#{home.source}">Source Code</a>
</div>
</body>
</html>