<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <title th:text="#{primary.title}">Query from the Primary DataSource</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables.net-zf/css/dataTables.foundation.min.css}" />
    <script th:src="@{/webjars/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables.net-zf/js/dataTables.foundation.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <h3 th:text="#{primary.config}"></h3>
    <table id="config-props-table">
        <thead>
        <tr>
            <th>URL</th>
            <th>Username</th>
            <th>Driver</th>
            <th>Dialect</th>
            <th>Flyway</th>
            <th>Show SQL</th>
            <th>Statistics</th>
        </tr>
        </thead>
    </table>
    <hr/>
    <h3 th:text="#{primary.new}"></h3>
    <form th:action="@{/primary}" th:object="${primaryModel}" method="post">
        <label th:class="${#fields.hasErrors('*{name}')} ? 'is-invalid-label' : ''">
			<span th:text="#{primaryModel.name}">Name</span>
			<input type="text" th:field="*{name}" th:class="${#fields.hasErrors('*{name}')} ? 'is-invalid-input' : ''" />
			<span th:if="${#fields.hasErrors('*{name}')}" class="form-error is-visible" th:errors="*{name}">This field is required</span>
        </label>
        <button type="submit" class="button" th:text="#{primary.save}">Save</button>
    </form>
    <hr/>
    <h3 th:text="#{primary.table}"></h3>
    <table id="primary-datatable">
        <thead>
        <tr>
            <th th:text="#{primaryModel.name}">Name</th>
        </tr>
        </thead>
    </table>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function() {
            $.ajax({
                url: [[@{/env}]],
                success: function(data) {
                    var config = data['applicationConfig: [classpath:/application.yml]'];
                    $('#config-props-table').append(
                            '<tr>' +
                            '<td>'+ config['primary.datasource.url'] +'</td>' +
                            '<td>'+ config['primary.datasource.username'] +'</td>' +
                            '<td>'+ config['primary.datasource.driver-class-name'] +'</td>' +
                            '<td>'+ config['primary.jpa.properties.hibernate.dialect'] +'</td>' +
                            '<td>'+ config['primary.flyway.location'] +'</td>' +
                            '<td>'+ config['primary.jpa.properties.hibernate.show_sql'] +'</td>' +
                            '<td>'+ config['primary.jpa.properties.hibernate.generate_statistics'] +'</td>' +
                            '</tr>');
                }
            });
            $('#primary-datatable').DataTable({
                processing: true,
                serverSide: true,
                ajax: function(data, callback, settings) {
                    var sorts = [];
                    $.each(data.order, function (i, order) {
                        if (data.columns[order.column].orderable) {
                            sorts.push(data.columns[order.column].data + ',' + order.dir);
                        }
                    });
                    var parameters = {};
                    if (data.search.value) {
                        parameters['name'] = data.search.value;
                    }
                    parameters['page'] = Math.ceil(data.start / data.length);
                    parameters['size'] = data.length;
                    parameters['sort'] = sorts;
                    $.ajax({
                        url: [[@{/api/primary}]],
                        data: $.param(parameters, true),
                        success: function(json) {
                            callback({ draw: data.draw, recordsTotal: json.page.totalElements,
                                recordsFiltered: json.page.totalElements,
                                data: json._embedded === undefined ? {} : json._embedded.data
                            });
                        }
                    });
                },
                columns: [
                    { data: 'name' }
                ],
                language: {
                    emptyTable: [[#{dataTables.emptyTable}]],
                    info: [[#{dataTables.info}]],
                    infoEmpty: [[#{dataTables.infoEmpty}]],
                    infoFiltered: [[#{dataTables.infoFiltered}]],
                    processing: [[#{dataTables.processing}]],
                    search: [[#{dataTables.search}]],
                    zeroRecords: [[#{dataTables.zeroRecords}]],
                    paginate: {
                        next: [[#{dataTables.paginate.next}]],
                        previous: [[#{dataTables.paginate.previous}]]
                    }
                }
            });
        });
        /*]]>*/
    </script>
</div>
</body>
</html>